<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<%= form_with(url: articles_path, method: :get, data: { controller: "search-form", turbo_frame: "articles"}) do |f| %>
  <%= f.text_field :search, value:params[:search], autocomplete:"off", placeholder: "Search articles", data: { action: "input->search-form#search" } %>
  <%= f.submit "Search"%>
  <%= link_to "Show recent trends", trends_path %>
<% end %>

<div id="articles">
  <%= render partial: "articles", locals: { articles: @articles } %>
</div>
