<p style="color: green"><%= notice %></p>

<h1>Articles</h1>

<%= form_with(url: articles_path, method: :get, data: {turbo_frame: "articles"}) do |f| %>
  <%= f.text_field :search, value:params[:search], autocomplete:"off", placeholder: "Search articles"%>
  <%= f.submit "Search"%>
<% end %>

<div id="articles">
  <%= render partial: "articles", locals: { articles: @articles } %>
</div>
