<p style="color: green"><%= notice %></p>

<div id="<%= dom_id @article %>">
  <p>
    <h1>Title:
    <%= @article.title %>
    </h1>
  </p>

  <p class="body-text">
    <%= @article.body %>
  </p>

</div>

<div>
  <%= link_to "Back To Articles", articles_path, class: "links" %>
</div>
